.main-navbar {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid var(--border-primary);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
}

.main-navbar a {
  text-decoration: none;
}

.main-navbar a:visited {
  color: var(--text-primary);
}

.main-navbar-buttons a:hover {
  text-decoration: underline;
}

.main-navbar-title {
  flex: 1 1 auto;
  text-align: center;
}

.main-navbar-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.main-navbar-avatar {
  width: 202.83px;
}
