.project-card {
  border: 1px solid var(--border-primary);
  background-color: var(--bg-accent);
  padding: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
}

.project-card:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

.project-card:hover .project-card-title {
  background: -webkit-linear-gradient(-70deg, #8250df 0%, #d42a32 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-card-top {
  margin-bottom: 20px;
}
.project-card-title {
  margin-bottom: 10px;
}

.project-card-description {
  line-height: 1.3;
}

.project-card-technologies {
  margin-top: 20px;
}
.project-card-technology {
  font-weight: 500;
  margin-right: 10px;
}
