* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('../fonts/Mona Sans/Mona-Sans.woff2') format('woff2 supports variations'),
    url('../fonts/Mona Sans/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Mona Sans';
  font-size: 90%;
}

:root {
  --btn-primary: #8ae1a2;
  --border-primary: #d8dee4;
  --bg-primary: #fff;
  --bg-accent: #f6f8fa;
  --bg-secondary: #161b22;
  --text-primary: #24292f;
  --text-secondary: #fff;
  --accent-gradient-start: #8250df;
  --accent-gradient-end: #d42a32;
}

.btn {
  font-weight: 500;
  border-radius: 4px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%), #1b1f23 !important;
  color: var(--text-secondary) !important;
  padding: 10px 15px;
  margin: 0;
  white-space: nowrap;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(180deg, #494d4f 0%, #1c2024 100%) !important;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

h1,
h2,
h3 {
  font-weight: 800 !important;
}

h1 {
  font-size: 48px !important;
}

h2 {
  font-size: 32px !important;
}

h3 {
  font-size: 24px !important;
}

h4 {
  font-size: 20px !important;
  line-height: 24px !important;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

.text-mono {
  font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
}

@media screen and (min-width: 768px) {
  .main-wrapper {
    width: 728px;
    margin: 0 auto;
  }
}
